section#four{
    border-radius: 10px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.3rem;
}

section#four .container-graph:first-child{
    flex-basis: 66.6666666667%;
}
section#four .container-graph:last-child{
    flex-basis: 36.4444444443%;
}
.container-graph .header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-graph .titles{
    line-height: 2;
    flex-grow: 1;
}
.container-graph .titles .title-container{
    margin: 0;
}
.container-graph .titles .seconed-title{
    font-size: 12px;
    font-weight: 600;
}

.input-wrapper{
    display: flex;
    border-radius: 14.5px;
    border-width: 1px;
    border: 1px solid #e4e9f2;
    padding: 4px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-icon{
    font-size: 1.25rem;
    line-height: var(--icon-width);
    width: var(--icon-width);
    height: var(--icon-width);
    -webkit-writing-mode: vertical-rl;
}

.input-wrapper input{
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0 5px;
    width: 100%;
    font-size: inherit;
    line-height: 1.5rem;
}
 input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
 {
  -webkit-appearance:none;
}

.scrollable{
    direction: ltr;
}

.container-graph table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
    direction: rtl;
}

.header-table{
    background-color: #e6f1f3;
}

.header-table-button{
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 0;
}

.header-table  th:first-child{
    padding-right: 2px;
    width: 150px !important;
    text-align: start;
}

.header-table  th:not(:first-child){
    padding-right: 5px;
}