section#three{
    border-radius: 10px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.3rem;
}

section#three .container-graph:first-child{
    flex-basis: 60%;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titles{
    line-height: 2;
    flex-grow: 1;
}
.titles .title-container{
    margin: 0;
}
.titles .seconed-title{
    font-size: 12px;
    font-weight: 600;
}

.input-wrapper{
    display: flex;
    border-radius: 14.5px;
    border-width: 1px;
    border: 1px solid #e4e9f2;
    padding: 4px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-icon{
    font-size: 1.25rem;
    line-height: var(--icon-width);
    width: var(--icon-width);
    height: var(--icon-width);
    -webkit-writing-mode: vertical-rl;
}

.input-wrapper input{
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0 5px;
    width: 100%;
    font-size: inherit;
    line-height: 1.5rem;
}
 input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
 {
  -webkit-appearance:none;
} 