section#two{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1.3rem;
}

.title-section{
    font-size: 20px;
    padding: 26px;
    text-align: center;
    font-weight: 600;
    /*border-bottom: 0.0625rem solid #222b45;
    border-bottom: 1px solid #d8d8d9;*/
}
.graphs{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.graphs .container-graph{
    border: 1px solid #d8d8d9;
    border-radius: unset;
    border-bottom: unset;
    margin: 0;
}

.container-graph{
    width: 100%;
    border-radius: 10px;
    height: max-content;
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px;
    height: 20.5rem;
}
.container-graph:first-child, .container-graph:last-child{
    border-right: inherit;
    border-left: inherit;
}
.container-graph:first-child{
    margin-right: 0;
}
.container-graph:last-child{
    margin-left: 0;
}
.container-graph > .title-container, .container-graph > .header{
    padding: 10px 15px 0;
}
.remark-container{
    display: flex;
    background-color: #e6f1f4;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 10px;
    line-height: 1.3em;
    align-items: center;
    font-size: 0.7rem;
}
.remark-icon{
    display: inline-block;
    width: .9rem;
    height: .9rem;
    font-size: .8rem;
    margin: 5px;
    background-color: #14212b;
    color: #fff;
    opacity: .85;
    text-align: center;
    line-height: 1.1;
    border-radius: 50%;
}