@font-face{
    font-family:"Open Sans Hebrew";
    font-weight:400;
    font-style:normal;
    src:url("./assets/site/fonts/OpenSansHebrew-Regular.ttf");
    font-display: swap;
}

@font-face{
    font-family:"Open Sans Hebrew";
    font-weight:700;
    font-style:normal;
    src:url("./assets/site/fonts/OpenSansHebrew-Bold.ttf");
    font-display: swap;
}
@font-face{
    font-family:"Open Sans Hebrew";
    font-weight:900;
    font-style:normal;
    src:url("./assets/site/fonts/OpenSansHebrew-ExtraBold.ttf");
    font-display: swap;
}

*, :after, :before {
    box-sizing: border-box;
    font-family: "Open Sans Hebrew";
    --icon-width: 1em;
}
.highcharts-point{
    cursor: pointer;
}
.highcharts-exporting-group{
    display: none;
}
.highcharts-axis.highcharts-yaxis{
    visibility: hidden;
}
.highcharts-credits{
    display: none;
}
.highcharts-legend-item .highcharts-point{
    transform: translateY(-0.05rem);
    cursor: default;
}
div[aria-label='Toggle series visibility'] .highcharts-a11y-proxy-button{
    display: none !important;
}

body{
    direction: rtl;
    background-color: #edf1f7;
    margin: 0;
    padding: 2.25rem;
    color: #222b45;
    font-family: "Open Sans Hebrew";
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700!important;
    margin-top: 0;
    margin-bottom: .5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
    color: #222b45;
}
section#one{
    width: calc(100% - .4em);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-tiny{
    width: 100%;
    height: 11.5rem;
    max-width: calc(16.6666666667% - 20px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 0.0625rem solid transparent;
    border-radius: 10px;
    margin: 0 10px 1.3rem 10px;
}
.title-card{
    display: flex;
    line-height: 1.25rem;
}
.title-container{
    font-size: .9rem;
    font-family: "Open Sans Hebrew";
    line-height: 1.5rem;
    display: inline-block;
    padding-left: 5px;
}
.info-container{
    height: 24px;
    font-size: 1.25rem;
    width: var(--icon-width);
    vertical-align:top;
    color: #bcbcbc;
    position: relative;
}
.info-text{
    display: none;
    color: #4b6378;
    background-color: #fff;
    position: absolute;
    top: calc(100% + .5rem);
    right: 50%;
    transform: translateX(50%);
    font-family: "Open Sans Hebrew";
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,0.1);
    border: 1px solid #b3b3b5;
    border-radius: .25rem;
    padding: 0.5rem 1rem;
    max-width: 16rem;
    width: max-content;
    transition: .3s opacity;
}
.info-container:hover .info-text{
    display: block;
    animation-name: appearToolTip;
    animation-duration: 0.2s;
}
.total-card{
    line-height: 1.1;
    font-size: 1.4rem;
}
.addition-card{
    font-size: .8em;
    margin-top: 5px
}
.amount{
    font-weight: 700;
}
.bottom{
    font-size: .8em;
    line-height: 1.25rem;
}
.legends-card,.legends-card-colomn{
    display: flex;
    flex-direction: row;
}
.legends-card-colomn{
    flex-direction: column;
}
.legend-item{
    margin-left: 20px;
}
.legends-card-colomn .legend-item{
    display: flex;
    flex-direction: row;
}
.item-star{
    margin: 5px;
    padding: 4px;
    border-radius: 50%;
}
.show-trend{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: .9375rem;
    line-height: 1;
    padding: 0;
    border: none;
    background: inherit;
    outline: none;
}
.bar-icon{
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px solid hsla(0,0%,59.2%,.22);
    padding: 4px;
    margin-left: 5px!important;
    background: var(--ngx-trend-button-background);
    transition: filter .5s;
}
.text{
    font-weight: 400;
}

@keyframes appearToolTip{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}